/*----------------------------------------------

  Variables

----------------------------------------------*/

$splash-speed: 3.0s;
$game-speed: 2.0s;

/* Cube Vars */
$cube-color: #abcdef;
$cube-size: 8em;
$cube-z: $cube-size / 2;

/* Tile Vars */
$tile-size: 2.3em;

/* Header Vars */
$header-pad: 5em;
$header-offset: $cube-size + $header-pad;
$header-game-offset: ($cube-size * 2) + $header-pad;
$header-width: 54em;

/*----------------------------------------------

  General Mixins

----------------------------------------------*/

@mixin transform($transform) {
  transform: $transform;
  -o-transform: $transform;
  -ms-transform: $transform;
  -moz-transform: $transform;
  -webkit-transform: $transform;
}

@mixin transform-style($style) {
  transform-style: $style;
  -o-transform-style: $style;
  -moz-transform-style: $style;
  -webkit-transform-style: $style;
}

@mixin backface-visibility($visibility) {
  backface-visibility: $visibility;
  -o-backface-visibility: $visibility;
  -moz-backface-visibility: $visibility;
  -webkit-backface-visibility: $visibility;
}

@mixin animation($animation) {
  animation: $animation;
  -o-animation: $animation;
  -moz-animation: $animation;
  -webkit-animation: $animation;
}

@mixin transition($transition...) {
  transition: $transition;
  -o-transition: $transition;
  -moz-transition: $transition;
  -webkit-transition: $transition;
}

@mixin keyframes($name) {
  @-webkit-keyframes $name {
    @content;
  }
  @-moz-keyframes $name {
    @content;
  }
  @-o-keyframes $name {
    @content;
  }
  @keyframes $name {
    @content;
  }
}

/*----------------------------------------------

  Cube Game Start Mixins

----------------------------------------------*/

@mixin game-start-animation($name) {
  @include animation($name $game-speed forwards);
}



/*----------------------------------------------

  Animations

----------------------------------------------*/

/* Animations */
@include keyframes(splash-cube) {
  0%    { opacity: 0; margin-left: -($cube-size / 2); }
  50%   { opacity: 1; margin-left: -($cube-size / 2); }
  100%  { margin-left: -(($header-width + $header-offset) / 2); }
}

@include keyframes(game-cube) {
  100%  { margin-left: -($cube-size / 2); margin-top: -($cube-size / 2);}
}

@include keyframes(splash-header) {
  0%    { width: 0; }
  50%   { width: 0; }
  100%  { width: $header-width; }
}

@include keyframes(game-header) {
  0%    { width: $header-width; margin-left: $header-offset; }
  100%  { width: 0; margin-left: $header-game-offset; }
}

@include keyframes(stage) {
  100%  { @include transform(scale(2)); }
}
