@import 'base';

html {
  font-size: 16px; /* Set base font size for em conversion */
}

body {
  margin: 0;
  background-color: #000;
  font-size: 62.5%; /* make em conversion simple as pie (/10) */
  font-family: Verdana, sans-serif;
}

h1 {
  margin: 0;
  color: #6385a7;
  font-size: 6em;
  font-weight: normal;
}

h2 {
  margin: 0;
  color: $cube-color;
  font-size: 3em;
  font-weight: normal;
  line-height: 12px;
  margin-left: 4px;
}



/*----------------------------------------------

  Cube

----------------------------------------------*/

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $cube-size;
  height: $cube-size;
  margin-top: -($cube-size / 2);
  margin-left: -(($header-width + $header-offset) / 2);
  @include animation(splash-cube $splash-speed forwards);

  &.game {
    @include game-start-animation(game-cube);

    #header {
      @include game-start-animation(game-header);
    }

    #cube {
      @include game-start-animation(game-cube);
    }

    .front {
      @include game-start-animation(game-cube-front);
    }
    .back {
      @include game-start-animation(game-cube-back);
    }
    .right {
      @include game-start-animation(game-cube-right);
    }
    .left {
      @include game-start-animation(game-cube-left);
    }
    .top {
      @include game-start-animation(game-cube-top);
    }
    .bottom {
      @include game-start-animation(game-cube-bottom);
    }
  }
}

#wrap {
  position: relative;
}

#header {
  overflow: hidden;
  margin-top: -10px;
  margin-left: $header-offset;
  padding-bottom: 12px;
  white-space: nowrap;
  @include animation(splash-header $splash-speed forwards);
}

#cube {
  position: absolute;
  top: 10px;
  left: 0;
  width: $cube-size;
  height: $cube-size;
  @include backface-visibility(visible);
  @include transform-style(preserve-3d);
}

#cube:hover .face {
  background-color: $cube-color;
  border-color: #000;
}

.face {
  position: absolute;
  width: $cube-size;
  height: $cube-size;
  border: 4px solid $cube-color;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  @include transition(background-color 0.4s, border-color 0.4s);
}

/* Normal Cube */
.front {
  @include transform(translateZ($cube-z));
}
.back {
  @include transform(rotateY(180deg) translateZ($cube-z));
}
.right {
  @include transform(rotateY(90deg) translateZ($cube-z));
}
.left {
  @include transform(rotateY(-90deg) translateZ($cube-z));
}
.top {
  @include transform(rotateX(90deg) translateZ($cube-z));
}
.bottom {
  @include transform(rotateX(-90deg) translateZ($cube-z));
}
